<div class="footer-container">
  <div class="main">
    <img src="assets/logo.svg" alt="" />
    <button type="button" class="btn btn-light">Light</button>
  </div>
  <div class="basic">
    <h4>THE BASICS</h4>
    <a href="">About TMDB</a><a href="">Contact Us</a
    ><a href="">Support Forums</a><a href="">API</a>
  </div>
  <div class="involved">
    <h4>GET INVOLVED</h4>
    <a href="">Contribution Bible</a><a href="">Add New Movie</a
    ><a href="">Add New TV Show</a>
  </div>
  <div class="community">
    <h4>COMMUNITY</h4>
    <a href="">Guidelines</a><a href="">Discussions</a><a href="">Leaderboard</a
    ><a href="">Twitter</a>
  </div>
  <div class="legal">
    <h4>LEGAL</h4>
    <a href="">Terms of Use</a><a href="">API Terms of Use</a
    ><a href="">Privacy Policy</a>
  </div>
</div>
